/* Background Image */
.bg-image {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
}

.section-heading {
  font-weight: bold;
}

.card img {
  height: 200px;
  object-fit: cover;
}

/* battery description page */

.battery-detail-card {
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 16px;
}

.battery-card-image {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.battery-card-image:hover {
  filter: brightness(70%);
}

.experience-content ul li {
  margin-left: 16px;
  padding: 0;
}

#contact {
  padding: 40px 20px;
}

#contact h3 {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 0px;
}

.contact_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact_div {
  flex: 1;
  padding: 20px;
  border: 1px solid #ccc;
  margin: 0 10px;
}

.contact_div h4 {
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.contact_div p {
  margin: 5px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  /* For desktops phones: */
  #reservation {
    width: 400px;
    position: fixed;
  }
}
